---
layout: default
comments : true
---
<article class="post">

  <header class="post-header">
     <div class="w3-display-container">
       <img class="w3-image" src="https://i.imgur.com/25zhGbg.jpg" alt="title" width="100%">
       <div class="w3-padding w3-display-topleft">
         <h1 class="post-title">{{ page.title | escape }}</h1>
       </div>
     </div>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

 <div class="fb-comments" data-href="https://nefritis.github.io{{ page.url }}" data-width="100%" ></div>
 
 {% include disqus.html %}
</article>
